.cart {
    padding-top: 69px;
    z-index: 1;
}

mat-card {
    margin: 40px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    box-shadow: 0px 1px 8px rgb(200, 200, 200);
}

.cart-text{
    font-size: 16px !important;
}

.cart-img {
    margin: 2%;
    width: 70px;
    height: 100px;
}

.cart-content {
    margin-left: 50px;
    display: flex;
}

.cart-name {
    align-items: center;
    display: flex;
    font-size: 16px;
}

th,
td {
    text-align: center;
}

.checkout {
    position: absolute;
    right: 0px;
    margin-right: 10%;
    background-color: #008ae6 !important; 
    color: white !important;
}

.table-head {
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin-left: 5px;
    font-size: 18px;
    color: #0062a3;
}

.actions {
    margin: 40px;
    margin-left: 30px;
}

.empty-cart{
    display: flex;
    justify-content: center;
    div{
        h3{
            margin-left: 15%;
        }
    }
}

.total {
    justify-content: flex-end;
    display: flex;
}

.delete {
    height: 50px;
    width: 50px;
}

mat-icon {
    font-size: 25px;
    justify-content: center;
    display: flex;
}

.warn {
    background-color: #d40000 !important;
    color: white !important;
}

@media only screen and (max-width:700px) {
    .table-head {
        font-size: 16px;
    }

    .cart-name {
        font-size: 12px;
    }

    .cart-img {
        margin: 1%;
        width: 60px;
        height: 60px;
    }

    .cart-text {
        font-size: 13px;
    }

    .del {
        height: 32px;
        width: 32px;
    }

    mat-icon {
        margin-top: 5px;
        font-size: 19px;
        justify-content: center;
        display: flex;
    }

    mat-card {
        margin: 20px;
        margin-top: 30px;
        margin-left: 20px;
        padding: 15px;
    }

    .actions button {
        font-size: 13px;
        width: 120px;
    }

    .actions h1 {
        font-size: 20px;
    }
}