.request {
    padding-top: 69px;
    z-index: 1;
}

.content {
    margin: 40px;
    display: flex;
}

.heading {
    text-align: center;
    font-size: 27px;
}

li {
    font-size: 1.17em;
    margin: 8px;
}

.title {
    font-size: 25px !important;
    margin-top: 5px;
    margin-bottom: 0px;
}

mat-dialog-content p {
    font-size: 15px !important;
    margin: 0px !important;
    color: rgb(0, 0, 0) !important;
}

mat-dialog-actions {
    justify-content: right;
    button {
        background-color: #008ae6 !important;
        color: white !important;
    }
}

.submit-btn {
    background-color: #008ae6 !important;
    color: white !important;
    margin-left: 2%;
    font-size: 16px;
}

form {
    margin-left: 20%;
}

img {
    margin-left: 70px;
    width: 600px;
}

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 21px;
    }

    form {
        margin-left: 6%;

        .submit-btn {
            font-size: 14px;
        }
    }

    .content {
        display: block;

        img {
            margin-left: 0px;
            width: 400px;
        }
    }

}